<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <a [routerLink]="urlLogo" class="d-flex" style="place-content: center;"> <img class="rounded-circle" src="assets/img/Logo_DIF.png" width="200px"></a> 
        <li class="nav-item" *ngFor="let opcion of opcionesSidebar">
            <a class="nav-link" [routerLink]="opcion.route">
                <i class="{{ opcion.icon }}"></i>
                <span>{{ opcion.title }}</span>
            </a>
        </li>
    </ul>
</aside>