<div class="card">
   <div class="card-body">
      <h5 class="card-title">Tabla de Citas</h5>
      <table class="table table-striped">
         <thead>
            <tr>
               <th scope="col" *ngFor="let header of headers">{{header}}</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of data">
               <th scope="row">{{item.id}}</th>
               <td>{{item?.request?.beneficiaries[0]?.nombre ?? null}} {{item?.request?.beneficiaries[0]?.apaterno ?? null}}</td>
               <td>
                  <div class="text-center" [ngClass]="item.request?.priority_id === 3 ? 'alert-danger' : item.request?.priority_id === 2 ? 'alert-warning' : 'alert-success'">
                     {{item.request?.priority.name}}
                  </div>
                </td>
               <td>Pendiente</td>
               <td>{{item.date ?? null}}</td>
               <td>{{item.hour ?? null}}</td>
               <td><button class=" btn btn-sm btn-success">Asistio</button></td>
               <td><button class=" btn btn-sm btn-danger m-1">No asistio</button></td>
               <td><button class=" btn btn-sm btn-info">Ver Datos</button></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>