<div class="row mt-5">
    <div class="col-10 offset-1 content-center">
        <div class="pagetitle">
            <h1>Formulario Infante</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Formulario Infante</li>
                </ol>
            </nav>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Formulario de Infante</h5>
                            <form class="row g-3" [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
                                <div class="col-9 col-md-6 col-lg-6">
                                    <label class="form-label">Curp</label>
                                    <input type="text" class="form-control" formControlName="curp">
                                    <span class="form-text text-danger form"
                                        *ngIf="miFormulario.controls['curp'].errors && miFormulario.controls['curp'].touched">
                                        Curp no valida.
                                    </span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 align-self-end" *ngIf="curp != true">
                                    <button type="button" class="btn btn-md btn-success mt-1"
                                        (click)="validatorCurp()">Validar
                                        Curp</button>
                                </div>
                                <!-- <div class="col-2 col-md-6 col-lg-6 align-self-end" *ngIf="curp == true">
                                    <button class="btn btn-md btn-success mt-1"> <i
                                            class="bi bi-check-circle"></i></button>
                                </div> -->
                                <div class="col-1 col-md-6 col-lg-6 align-self-end" *ngIf="curp == true">
                                    <button type="button" class="btn btn-md btn-danger mt-1" (click)="backCurp()">
                                        <i class="bi bi-arrow-90deg-left"></i>
                                    </button>
                                </div>
                                <div *ngIf="curp == true" class="row">
                                    <hr class="mt-1">
                                    <h5>Datos Generales</h5>
                                    <div class="col-12 col-md-6 col-lg-6"> <label class="form-label">Nombre</label>
                                        <input type="email" class="form-control" formControlName="nombre">
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['nombre'].errors && miFormulario.controls['nombre'].touched">
                                            Nombre requerido.
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6"> <label class="form-label">Apellido
                                            Paterno</label>
                                        <input class="form-control" formControlName="apaterno">
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['apaterno'].errors && miFormulario.controls['apaterno'].touched">
                                            Apellido paterno requerido.
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6"> <label class="form-label">Apellido
                                            Materno</label>
                                        <input class="form-control" formControlName="amaterno">
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['amaterno'].errors && miFormulario.controls['amaterno'].touched">
                                            Apellido materno requerido.
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-2"> <label class="form-label">Fecha de
                                            Nacimiento</label>
                                        <input type="date" class="form-control"
                                            placeholder="Ejemplo de formato 2022-11-04"
                                            formControlName="fechanacimiento">
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['fechanacimiento'].errors && miFormulario.controls['fechanacimiento'].touched">
                                            Fecha de nacimiento requerida.
                                        </span>
                                    </div>
                                    <div class="col-6 col-md-6 col-lg-2">
                                        <label class="form-label">Sexo</label>
                                        <select class="form-control" formControlName="sexo">
                                            <option value="">-Seleccionar-</option>
                                            <option value="1">Hombre</option>
                                            <option value="2">Mujer</option>
                                        </select>
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['sexo'].errors && miFormulario.controls['sexo'].touched">
                                            Debes seleccionar una opción.
                                        </span>
                                    </div>
                                    <div class="col-6 col-md-6 col-lg-2"> <label class="form-label">Tipo de
                                            Sangre</label>
                                        <select class="form-control" formControlName="tipo_sangre">
                                            <option value="">-Seleccionar-</option>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                        </select>
                                    </div>
                                    <hr class="mt-1">
                                    <h5>Datos de Direccion</h5>

                                    <div class="col-10 col-md-6 col-lg-6"> <label class="form-label">Codigo
                                            Postal</label>
                                        <input type="text" class="form-control" formControlName="codigopostal">
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['codigopostal'].errors && miFormulario.controls['codigopostal'].touched">
                                            Se requiere un codigo postal valido.
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 align-self-end" *ngIf="postalCode != true">
                                        <button type="button" class="btn btn-md btn-success mt-1"
                                            (click)="validatorPostCode()">Validar CP</button>
                                    </div>
                                    <!-- <div class="col-2 col-md-6 col-lg-6 align-self-end" *ngIf="postalCode == true">
                                        <button class="btn btn-md btn-success mt-1"> <i
                                                class="bi bi-check-circle"></i></button>
                                    </div> -->
                                    <div class="col-1 col-md-6 col-lg-6 align-self-end" *ngIf="postalCode == true">
                                        <button type="button" class="btn btn-md btn-danger mt-1"
                                            (click)="backPostCode()"> <i class="bi bi-arrow-90deg-left"></i></button>
                                    </div>
                                    <div *ngIf="postalCode == true" class="col-6 col-md-2 col-lg-2"> <label
                                            class="form-label">Calle</label>
                                        <input type="text" class="form-control" formControlName="calle">
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['calle'].errors && miFormulario.controls['calle'].touched">
                                            Calle requerida.
                                        </span>
                                    </div>
                                    <div *ngIf="postalCode == true" class="col-6 col-md-2 col-lg-2"> <label
                                            class="form-label">Num.
                                            Exterior</label>
                                        <input type="number" class="form-control" formControlName="numext">
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['numext'].errors && miFormulario.controls['numext'].touched">
                                            Numero exterior requerido.
                                        </span>
                                    </div>
                                    <div *ngIf="postalCode == true" class="col-6 col-md-2 col-lg-2"> <label
                                            class="form-label">Num.
                                            Interior</label>
                                        <input type="number" class="form-control" formControlName="numint">
                                    </div>
                                    <div *ngIf="postalCode == true" class="col-12 col-md-6 col-lg-4"> <label
                                            class="form-label">Primer
                                            Cruce</label>
                                        <input type="text" class="form-control" formControlName="primercruce">
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['primercruce'].errors && miFormulario.controls['primercruce'].touched">
                                            Primer cruce requerido.
                                        </span>
                                    </div>
                                    <div *ngIf="postalCode == true" class="col-12 col-md-6 col-lg-4"> <label
                                            class="form-label">Segundo
                                            Cruce</label>
                                        <input type="text" class="form-control" formControlName="segundocruce">
                                    </div>
                                    <div *ngIf="postalCode == true" class="col-6 col-md-6 col-lg-3">
                                        <label class="form-label">Estado</label>
                                        <select class="form-control" formControlName="estado">
                                            <option value="">--Seleccionar--</option>
                                            <option value="Jalisco">Jalisco</option>
                                        </select>
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['estado'].errors && miFormulario.controls['estado'].touched">
                                            Debes seleccionar una opción.
                                        </span>
                                    </div>
                                    <div *ngIf="postalCode == true" class="col-6 col-md-6 col-lg-3">
                                        <label class="form-label">Municipio</label>
                                        <select class="form-control" formControlName="municipio">
                                            <option value="">--Seleccionar--</option>
                                            <option value="Zapopan">Zapopan</option>
                                            <option value="Guadalajara">Guadalajara</option>
                                            <option value="San Pedro Tlaquepaque">San Pedro Tlaquepaque</option>
                                            <option value="Tonala">Tonala</option>
                                            <option value="Tlajomulco de Zuñiga">Tlajomulco de Zuñiga</option>
                                            <option value="Zapotlanejo">Zapotlanejo</option>
                                            <option value="El Salto">El Salto</option>
                                            <option value="Acatlan de Juarez">Acatlan de Juarez</option>
                                            <option value="El Arenal">El Arenal</option>
                                        </select>
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['municipio'].errors && miFormulario.controls['municipio'].touched">
                                            Debes seleccionar una opción.
                                        </span>
                                    </div>
                                    <div *ngIf="postalCode == true" class="col-12 col-md-6 col-lg-3"> <label
                                            class="form-label">Colonia</label>
                                        <select class="form-control" formControlName="colonia">
                                            <option value="">-Seleccionar-</option>
                                            <option *ngFor="let item of suburbs" [value]="item?.id">{{item.colonia}}
                                            </option>
                                        </select>
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['colonia'].errors && miFormulario.controls['colonia'].touched">
                                            Debes seleccionar una opción.
                                        </span>
                                    </div>
                                    <div *ngIf="postalCode == true" class="col-12 col-md-6 col-lg-3"> <label
                                            class="form-label">Celular</label>
                                        <input type="number" class="form-control" formControlName="celular">
                                        <span class="form-text text-danger form"
                                            *ngIf="miFormulario.controls['celular'].errors && miFormulario.controls['celular'].touched">
                                            Numero requerido.
                                        </span>
                                    </div>
                                    <hr class="mt-1">
                                    <h5>Datos CDI</h5>
                                    <p>¿El Infante tiene hermanos en alguna otra guarderia del DIF?</p>
                                    <div class="col-6">
                                        <input type="radio" name="option" id="optionYes" (change)="showContent(true)">
                                        <label for="optionYes">Sí</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="radio" name="option" id="optionNo" (change)="showContent(false)">
                                        <label for="optionNo">No</label>
                                    </div>
                                    <div *ngIf="showDiv">
                                        <hr class="mt-1">
                                        <ng-container formArrayName="hermanos_en_CDI">
                                            <div *ngFor="let hermanos_en_CDI of hermanos_en_CDI.controls; let i =index"
                                                [formGroupName]="i">
                                                <div class="col-md-6"> <label class="form-label">CURP Hermano/a</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </ng-container>
                                        <button type="button" class="btn btn-sm btn-success mt-1"
                                            (click)="addHermano()">+</button>
                                        <button type="button" class="btn btn-sm btn-danger mt-1"
                                            (click)="deleteHermano()">-</button>
                                    </div>
                                </div>
                                <div class="text-center" *ngIf="curp == true">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>