<app-creche>
   <main id="main" class="main">
      <div class="pagetitle">
         <h1>Solicitudes</h1>
         <nav>
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
               <li class="breadcrumb-item active">Solicitudes</li>
            </ol>
         </nav>
      </div>
      <section class="section dashboard">
         <app-requests [data]="data" [headers]="header"></app-requests>
      </section>
   </main>
</app-creche>