<div class="card">
   <div class="card-body">
      <h5 class="card-title">Tabla de Solicitudes</h5>
      <table class="table table-striped">
         <thead>
            <tr>
               <th scope="col" *ngFor="let header of headers">{{header}}</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of data">
               <th scope="row">{{item.id}}</th>
               <td>{{item.beneficiaries[0].nombre}} {{item.beneficiaries[0].apaterno}}</td>
               <td>{{item.beneficiaries[0].edad}} AÑOS</td>
               <td>{{item.beneficiaries[1]?.nombre ?? null}} {{item.beneficiaries[1]?.apaterno ?? null}}</td>
               <td>
                  <div class="text-center" [ngClass]="item.priority_id === 3 ? 'alert-danger' : item.priority_id === 2 ? 'alert-warning' : 'alert-success'">
                     {{item.priority.name}}
                  </div>
                </td>
               <td>{{item.creche_request[0]?.creche?.degree?.name ?? null}}</td>
               <td>{{item.created_at ?? null}}</td>
               <td>{{item.status == 1 ? 'En proceso' : (item.status == 2 ? 'Aceptado' : (item.status == 3 ? 'Rechazado' : null))}}</td>
               <td *ngIf="item.status == 0"><button class=" btn btn-sm btn-success m-1">Aceptar</button></td>
               <td *ngIf="item.status == 0"><button class=" btn btn-sm btn-danger m-1">Rechazar</button></td>
               <td *ngIf="item.status == 1"><button class=" btn btn-sm btn-secondary m-1">Reactivar</button></td>
               <td><button class=" btn btn-sm btn-info">Ver</button></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>