<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <a [routerLink]="urlLogo" class="d-flex" style="place-content: center;"> <img class="rounded-circle" src="assets/img/Logo_DIF.png" width="150px"></a> 
                            <h5 class="card-title text-center pb-0 fs-4">TRÁMITES EN LÍNEA</h5>
                         </div>
                         <form class="row g-3 needs-validation" [formGroup]="miFormulario" (ngSubmit)="login()">
                            <div class="col-12">
                               <label for="yourUsername" class="form-label">Correo electrónico</label>
                               <div class="input-group has-validation">
                                    <input type="text" name="username" class="form-control" id="yourUsername" type="email" 
                                    formControlName="email">
                                    <div class="invalid-feedback">Por favor ingrese su correo electrónico.</div>
                               </div>
                            </div>
                            <div class="col-12">
                               <label for="yourPassword" class="form-label">Contraseña</label> 
                               <input type="password" name="password" class="form-control" id="yourPassword" formControlName="password" >
                               <div class="invalid-feedback">Por favor ingresa tu contraseña.</div>
                            </div>
                            <!-- <div class="col-12">
                               <div class="form-check"> <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe"> <label class="form-check-label" for="rememberMe">Remember me</label></div>
                            </div> -->
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit" [disabled]="miFormulario.invalid">Ingresar</button></div>
                            <div class="col-12">
                               <p class="small mb-0">¿No tienes cuenta? <a routerLink="/pages-register">Crear una cuenta</a></p>
                            </div>
                         </form>
                      </div>
                   </div>

                </div>
             </div>
          </div>
       </section>
    </div>
 </main>